
.HmSlide{display: none;}
.imgSld{vertical-align:middle;}

/* Slideshow container */
.HmSlideContain{
	position: relative;
	margin: auto;
}

/*Caption Text */
.SText{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number Text*/
.NoText{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/*Bullet incicators*/
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.6s ease;
}
.active{
	background-color: #717171; 
}

/* Fading Animation */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* small Screen, Decrease text size */
@media only screen and(max-width: 300px){
	.SText{font-size: 11px}
}

.conHm{
  position: relative;
  text-align: center;
  color: white;
}

.bottom-leftH {
  position: absolute;
  bottom: 8px;
  margin-left: 280px;
  margin-right: 280px;
  font-size: 17px;
}


